name: Install docker image from github container registry

on: pull_request

permissions: read-all

jobs:
  login-and-install:
    runs-on: ubuntu-latest
    steps:
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with: 
          registry: ghcr.io
          username: ${{ github.actor }} 
          password: ${{ secrets.GITHUB_TOKEN }} 
      - run: docker pull ghcr.io/busybbox:l1
